<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ncolas.activitystarter">

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_feg_robotica"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_feg_robotica"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaTorneio"
            android:label="@string/title_activity_tela_torneio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TelaTestes" />
        <activity android:name=".TelaBluetooth" />
        <activity android:name=".TelaEstrategia" />
        <activity android:name=".ListaDispositivos"></activity>
    </application>

</manifest>